{% extends 'agents/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block head %}
    title>Activate </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}







{% block content %}
  <!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
      <!--<div class="container">-->
        <!--<a class="navbar-brand" href="{% url 'customers_home' %}">Django Boards</a>-->
      <!--</div>-->
    <!--</nav>-->

<h1> Activate Rd Customer</h1>

    <div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item"><a href="{% url 'customers_home' %}">Customers</a></li>
  <!--<li class="breadcrumb-item"><a href="#">new customer</a></li>-->
  <li class="breadcrumb-item active">{{ customer.name }}</li>
      </ol>

 <form method="post" novalidate>
    {% csrf_token %}


    {% include 'customers/includes/form.html' %}
    <button type="submit" class="btn btn-success">Activate</button>
  </form>
{% endblock %}