{% extends 'customers/dashboard.html' %}
{% load static %}
{% load widget_tweaks %}


{% block home %}




<div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active">  Registered RD Customer </li>
      </ol>
      <table class="table">
        <thead class="thead-inverse">
          <tr>
           <th>Name</th>
          <th>Gender</th>
          <th>Home Town</th>
          <th>serial no</th>
          <th>Policy Year</th>
          <th>Start Date</th>
              <th>Denomination</th>


          </tr>
        </thead>
        <tbody>
            <tr>
              <td>
                {{ rd_customer.customer.name }}
              <!--<small style="color: #888">{{ customer.description }}</small>-->
            </td>
            <td>{{ rd_customer.customer.gender }}</td>
            <td>{{ rd_customer.customer.home_town }}</td>
            <td>{{ rd_customer.serial_no }}</td>
            <td>{{ rd_customer.total_policy_year }}</td>
            <td>{{ rd_customer.start_date }}</td>
                <td>{{ rd_customer.Denom_value }}</td>
            </tr>
        </tbody>
      </table>
</div>


<a href="{% url 'pay_kisht' rd_customer.id %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">pay kishat</a>

{% block profile_extension %}
{% endblock %}
<!-- Table with panel -->

{% endblock %}