{% extends 'registrations/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h2>Reset your password</h2>
          <p>Enter your email address and we will send you a link to reset your password.</p>
          <form method="post" novalidate>
            {% csrf_token %}
             {% include 'customers/includes/form.html' %}
            <button type="submit" class="btn btn-primary">Send confirmation link</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
