<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.css">

  {% block stylesheet %}
  {% endblock %}

  <title>{% block title %}DueListManagement{% endblock %}</title>

  <style type="text/css">
  body{
     overflow-x:hidden;
  }
    .asteriskField {
      display: none;
    }
    form .alert ul li {
      list-style: none;
    }
    form .alert ul {
      padding: 0;
      margin: 0;
    }
    @media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.5rem;
    }
    }

    .bvs-container {
    width: 100%;
}

.swiper-slide {
    background-size: cover;
    background-position: 50%;
    min-height: 80vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.swiper-slide{
margin-top:58px;
}
pagination-bullets {
    bottom: 24px;
    left: 0;
    width: 100%;
}



  </style>
</head>
<body>
<nav class="mb-4 navbar fixed-top navbar-expand-lg navbar-dark unique-color-dark">
                <a class="navbar-brand" href="#"><img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                      <li class="nav-item">
                            <a class="nav-link" href="#">Developers</a>
                        </li>

      {% if user.is_authenticated %}
          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{ user.username }} </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
                                <a class="dropdown-item" href="#">My account</a>
                                <a class="dropdown-item" href="#">Change password</a>
                               <div class="dropdown-divider"></div>
                               <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                            </div>
                        </li>
       {% else %}
<!--        <form class="form-inline ml-auto">-->
<!--          <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>-->
<!--          <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Sign up</a>-->
<!--        </form>-->
                            <li class="nav-item">
                            <a href="{% url 'login' %}" class="nav-link">Log In</a>
                        </li>
                         <li class="nav-item">
                            <a href="{% url 'signup' %}" class="nav-link">Sign Up</a>
                        </li>
      {% endif %}

<!--                      <li class="nav-item">-->
<!--                            <a class="nav-link" href="#">Sign In</a>-->
<!--                        </li>-->
<!--                         <li class="nav-item">-->
<!--                            <a class="nav-link" href="#">Sign Up</a>-->
<!--                        </li>-->
                         <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </nav>
<div class="bvs-container">
  <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url(https://source.unsplash.com/random?sig=24);">
        </div>
        <div class="swiper-slide" style="background-image: url(https://source.unsplash.com/random?sig=53);">
        </div>
        <div class="swiper-slide" style="background-image: url(https://source.unsplash.com/random?sig=52);">
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
   <div class="swiper-pagination"></div>
</div>


<!--   <div class="container">-->
<!--      {% block content %}-->
<!--      {% endblock %}-->
<!--    </div>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
  var Swipes = new Swiper('.bvs-container', {
    loop: true,
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    },
    pagination: {
        el: '.swiper-pagination',
    },
});
</script>

</body>
</html>