{% extends 'agents/base.html' %}



{% block stylesheet %}
<h1> THis is agent profile edit page</h1>

{% endblock %}

{% block home %}

<h1> THis is agent profile edit page</h1>
<h1> THis is agent profile edit page</h1>
<h1> THis is agent profile edit page</h1>
<h1> THis is agent profile edit page</h1>
<h1> THis is agent profile edit page</h1>
<h1> THis is agent profile edit page</h1>

<div class="container">

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>


</div>



{% endblock %}