{% extends 'agents/base.html' %}
{% block home %}

<!--    <h1>Welcome to my site ,{% if user.is_authenticated %} {{ user.username }} {% else %} visitor {% endif %}</h1>-->
<!--    <p>-->
<!--        <strong>Total agents registered:</strong>  {{ count }}-->
<!--    </p>-->
<!--    <div>-->
<!--         <a href="{% url 'customers_home' %}"> customers </a>-->
<!--    </div>-->
<div class="bvs-container">
  <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url(https://source.unsplash.com/random?sig=24);">
        </div>
        <div class="swiper-slide" style="background-image: url(https://source.unsplash.com/random?sig=53);">
        </div>
        <div class="swiper-slide" style="background-image: url(https://source.unsplash.com/random?sig=52);">
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
   <div class="swiper-pagination"></div>
</div>

<section class="section_all bg-light" id="about">
            <div class="container">
                <div class="row">
                   <h1 class="section-header">ABOUT US</h1>
                </div>

                <div class="row vertical_content_manage mt-5">
                    <div class="col-lg-6">
                        <div class="about_header_main mt-3">

                            <h4 class="about_heading text-capitalize font-weight-bold mt-4">Lorem Ipsum is simply dummy text of the printing industry.</h4>
                            <p class="text-muted mt-3">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>

                            <p class="text-muted mt-3"> Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage.</p>
                        </div>
                    </div>




                    <div class="col-lg-6">
                        <div class="img_about mt-3">
                            <img src="https://i.ibb.co/qpz1hvM/About-us.jpg" alt="" class="img-fluid mx-auto d-block">
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-4">
                        <div class="about_content_box_all mt-3">
                            <div class="about_detail text-center">
                                <div class="about_icon">
                                    <i class="fas fa-pencil-alt"></i>
                                </div>
                                <h5 class="text-dark text-capitalize mt-3 font-weight-bold">Creative Design</h5>
                                <p class="edu_desc mt-3 mb-0 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="about_content_box_all mt-3">
                            <div class="about_detail text-center">
                                <div class="about_icon">
                                    <i class="fab fa-angellist"></i>
                                </div>
                                <h5 class="text-dark text-capitalize mt-3 font-weight-bold">We make Best Result</h5>
                                <p class="edu_desc mb-0 mt-3 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="about_content_box_all mt-3">
                            <div class="about_detail text-center">
                                <div class="about_icon">
                                    <i class="fas fa-paper-plane"></i>
                                </div>
                                <h5 class="text-dark text-capitalize mt-3 font-weight-bold">best platform </h5>
                                <p class="edu_desc mb-0 mt-3 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<div id="developer">
<h1 class="section-header">DEVELOPERS</h1>
<div class="row">

  <div class="col-md-3 col-sm-12 cards">
		<div class="square-card">
	<a href="#" alt="square card">
		<div class="card-header">

		</div>
		<div class="card-title">
			<h4>cocktail fruit salad with freshness</h4>
		</div>
		<div class="cta">
<!-- 			<a href="https://google.com">view recipe</a> -->
			<a  href="https://google.com">add to bag</a>
		</div>
	</a>
</div>
	</div>
	<div class="col-md-3 col-sm-12 cards">
		<div class="square-card">
	<a href="#" alt="square card">
        <div class="card-header">

		</div>
		<div class="card-title">
			<h4>cocktail fruit salad with freshness</h4>
		</div>
		<div class="cta">
<!-- 			<a href="https://google.com">view recipe</a> -->
			<a  href="https://google.com">add to bag</a>
		</div>
	</a>
</div>
	</div>
</div>
</div>

<section id="contact">

  <h1 class="section-header">CONTACT US</h1>
  <div class="contact-wrapper">
    <form class="form-horizontal" role="form" method="post" action="contact.php">
      <div class="form-group">
        <div class="col-sm-12">
          <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="">
        </div>
      </div>
      <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message"></textarea>
      <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
        <div>
         send
        </div>
      </button>
    </form>
      <div class="direct-contact-container">
        <ul class="contact-list">
          <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">Seattle | WA</span></i></li>

          <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone">(212) 555-2368</span></i></li>

          <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail">emailme@gmail.com</span></i></li>
        </ul>
        <hr>
        <ul class="social-media-list">
          <li><a href="#" target="_blank" class="contact-icon">
            <i class="fa fa-github" aria-hidden="true"></i></a>
          </li>
          <li><a href="#" target="_blank" class="contact-icon">
            <i class="fa fa-twitter" aria-hidden="true"></i></a>
          </li>
          <li><a href="#" target="_blank" class="contact-icon">
            <i class="fa fa-instagram" aria-hidden="true"></i></a>
          </li>
          <li><a href="#" target="_blank" class="contact-icon">
            <i class="fa fa-codepen" aria-hidden="true"></i></a>
          </li>
        </ul>
        <hr>

        <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED</div>

      </div>

  </div>

</section>
{% endblock %}