{% extends 'agents/base.html' %}
{% load static %}



{% block title %}
Customers
{% endblock %}


{% block content %}




<div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active" ><a href="{% url 'customers_home' %}">Customers</a>  </li>
          <li class="breadcrumb-item "> {{ customer.name }} </li>
      </ol>

        <h2> Customer detailed profile </h2>

      <table class="table">
        <thead class="thead-inverse">
          <tr>
           <th>Name</th>
          <th>DateOfBirth</th>
          <!--<th>Home Town</th>-->
          <!--<th>Ph. No.</th>-->
              <th>
              </th>
              <th>
              </th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>
                {{ customer.name }}
              <!--<small style="color: #888">{{ customer.description }}</small>-->
            </td>
            <td>{{ customer.dob }}</td>
               <td>
                   {% if customer.rd_user is none %}
                <a href="{% url 'rd_customer_activate' customer.id %}"> activate {{ customer.id }} </a>
                       {% else %}
                   RD activated <a href="{% url 'rd_customer_view' customer.rd_user.id %}"> view rd_data</a>
                   {% endif %}
               </td>



            </tr>
        </tbody>
      </table>

    </div>

{% block profile_extension %}
{% endblock %}




{% endblock %}