{% extends 'customers/dashboard.html' %}
{% load static %}



{% block title %}
Customers
{% endblock %}


{% block home %}




<div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active" ><a href="{% url 'dashboard' %}">Customers</a>  </li>
          <li class="breadcrumb-item "> {{ customer.name }} </li>
      </ol>

        <h2> Customer detailed profile </h2>

      <table class="table">
        <thead class="thead-inverse">
          <tr>
           <th>Name</th>
          <th>DateOfBirth</th>
          <!--<th>Home Town</th>-->
          <!--<th>Ph. No.</th>-->
              <th>
                    activate

              </th>

          </tr>
        </thead>
        <tbody>
            <tr>
              <td>
                {{ customer.name }}
              <!--<small style="color: #888">{{ customer.description }}</small>-->
            </td>
            <td>{{ customer.dob }}</td>


                <td>





               </td>



            </tr>
        </tbody>
      </table>

    </div>







{% endblock %}