{% extends 'agents/base.html' %}
{% block home %}
        <div class="profile-box">
          <div class="profile-pic" style="background-image: url(https://mdbootstrap.com/img/logo/mdb-transparent.png);"></div>
            <h1 class="profile-heading" > {{ agent.username }} </h1>
            <h1>Hello Dashboard</h1>
            <div>
</div>

            <h4 class="profile-content">{{ agent.email }}</h4>



			<h4 class="profile-content"><a href="{% url 'edit_profile' %}">Edit profile</a></h4>
        </div>

<nav class="navbar navbar-expand-lg navbar-light blue-grey lighten-5 mb-4 he">  <div class="collapse navbar-collapse" id="navbarSupportedContent"> <!-- Links --> <ul class="navbar-nav mr-auto"><li class="nav-item"> <a class="button nav-link" href="#popup1">Features</a> </li> <li class="nav-item">  <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a> <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink"> <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a> </div> </li><li class="nav-item"><a class="nav-link">Create new user</a></li> </ul>  </div> <!-- Collapsible content --> </nav>

<div id="tableID">
  <table class="table-list" data-currentpage="1">
    <thead>
      <th><button type="button" class="sort" data-sort="sortID">Name<i class="caret"></i></button></th>
          <th><button type="button" class="sort" data-sort="sortID">#<i class="caret"></i></button></th>
      <th><button type="button" class="sort" data-sort="sortID">#<i class="caret"></i></button></th>
      <th><button type="button" class="sort" data-sort="sortID">#<i class="caret"></i></button></th>
      <th><button type="button" class="sort" data-sort="sortID">#<i class="caret"></i></button></th>
      <th><button type="button" class="sort" data-sort="sortID">#<i class="caret"></i></button></th>
    </thead>
    <!-- IMPORTANT, class="list" must be on tbody -->
    <tbody class="list">
    {% for customer in agent.customers.all %}
      <tr>
        <td class="minify sortID"><a href="{% url 'customer_profile' customer.id %}">{{ customer.name }}</a></td>
          <td class="minify sortID"><a href="{% url 'customer_profile' customer.id %}">{{ customer.name }}</a></td>
          <td class="minify sortID"><a href="{% url 'customer_profile' customer.id %}">{{ customer.name }}</a></td>
          <td class="minify sortID"><a href="{% url 'customer_profile' customer.id %}">{{ customer.name }}</a></td>
          <td class="minify sortID"><a href="{% url 'customer_profile' customer.id %}">{{ customer.name }}</a></td>
          <td class="minify sortID"><a href="{% url 'customer_profile' customer.id %}">{{ customer.name }}</a></td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3" class="table-footer">
          <div class="table-pagination">
            <button type="button" class="btn-tablepage jTablePagePrev">&laquo;</button>
            <ul class="pagination"></ul>
            <button type="button" class="btn-tablepage jTablePageNext">&raquo;</button>
          </div>
             <div class="table-filter table-filter1">

          </div>
          <div class="table-filter ">
            <input class="search " placeholder="Search ">
          </div>

        </td>
      </tr>
    </tfoot>
  </table>

</div>
<div id="popup1" class="overlay">
	<div class="popup">
		<h2>DueList</h2>
		<a class="close" href="#">&times;</a>
        <nav class="navbar navbar-expand-lg navbar-light blue-grey lighten-5 mb-4 hel">  <div class="collapse navbar-collapse" id="navbarSupportedContent"> <!-- Links --> <ul class="navbar-nav mr-auto"> <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a> <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink"> <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a> </div> </li><li class="nav-item"><a class="nav-link" href="#">PDF</a></li>  <li class="nav-item"><a class="nav-link" href="#">Share</a></li></ul>   <div class="container-name">
<div class="div1">From<input type="date" name="bday"></div>
<div class="div2">to<input type="date" name="bday"></div>
</div> </div> <!-- Collapsible content --> </nav>
	      <div class="content">
			<div id="tableID">
  <table class="table-list table2" data-currentpage="1">
    <thead>
      <th><button type="button" class="sort" data-sort="sortID">NAME<i class="caret"></i></button></th>
          <th><button type="button" class="sort" data-sort="sortID">#<i class="caret"></i></button></th>
      <th><button type="button" class="sort" data-sort="sortID">#<i class="caret"></i></button></th>
      <th><button type="button" class="sort" data-sort="sortID">#<i class="caret"></i></button></th>

    </thead>

    <tbody class="list">
    {% for customer in agent.customers.all %}
      <tr>
        <td class="minify sortID"><a href="{% url 'customer_profile' customer.id %}">{{ customer.name }}</a></td>
          <td class="minify sortID"><a href="{% url 'customer_profile' customer.id %}">{{ customer.name }}</a></td>
          <td class="minify sortID"><a href="{% url 'customer_profile' customer.id %}">{{ customer.name }}</a></td>
          <td class="minify sortID"><a href="{% url 'customer_profile' customer.id %}">{{ customer.name }}</a></td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3" class="table-footer">
          <div class="table-pagination">
            <button type="button" class="btn-tablepage jTablePagePrev">&laquo;</button>
            <ul class="pagination"></ul>
            <button type="button" class="btn-tablepage jTablePageNext">&raquo;</button>
          </div>
               <div class="table-filter table-filter1">

          </div>
          <div class="table-filter ">
            <input class="search " placeholder="Search ">
          </div>

        </td>
      </tr>
    </tfoot>
  </table>

		</div>
	</div>
</div>


            {% endblock %}