{% extends 'agents/base.html' %}
{% load static %}



{% block title %}
Customers
{% endblock %}


{% block content %}




<div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active"> Customers </li>
      </ol>
    <div class="mb-4">
    <a class="btn btn-primary" href="{% url 'new_customer'  %}">New Customer</a>
  </div>
      <table class="table">
        <thead class="thead-inverse">
          <tr>
           <th>Name</th>
          <th>DateOfBirth</th>
          <!--<th>Home Town</th>-->
          <!--<th>Ph. No.</th>-->
              <th>
              </th>
              <th>
              </th>
          </tr>
        </thead>
        <tbody>
          {% for customer in user.customers.all %}
            <tr>
              <td>
                {{ customer.name }}
              <!--<small style="color: #888">{{ customer.description }}</small>-->
            </td>
            <td>{{ customer.dob }}</td>
            <!--<td>{{ customer.home_town }}</td>-->
            <!--<td>{{ customer.mob_no1 }}</td>-->


                    {% if customer.rd_user  %}
                <td><div class="mb-1">
    <a class="btn btn-success" href="{% url 'rd_customer_data' customer.id  %}">view customer</a>
  </div></td>
                 <td><div class="mb-1">
    <a class="btn btn-secondary disabled" href="{% url 'rd_customer_activate' customer.id  %}">activated</a>
  </div></td>


                {% else %}
                     <td><div class="mb-1">
    <a class="btn btn-secondary disabled" href="{% url 'rd_customer_data' customer.id  %}">view customer</a>
  </div></td>
                 <td><div class="mb-1">
    <a class="btn btn-success" href="{% url 'rd_customer_activate' customer.id  %}">activate RD</a>
  </div></td>
                {% endif %}



            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>






{% endblock %}