{% extends 'customers/dashboard.html' %}
{% load static %}
{% load widget_tweaks %}


{% block head %}
    title>Add Customers </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}







{% block home %}

<div class="limiter">
<h1> Add Customer</h1>

    <div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Customers</a></li>

  <li class="breadcrumb-item active">New Customer</li>
      </ol>

 <form method="post" novalidate>
    {% csrf_token %}


    {% include 'customers/includes/form.html' %}
    <button type="submit" class="btn btn-success">Add</button>
  </form>
        </div>
{% endblock %}